 <div class="container">
     <h1>Welcome {{email}}</h1>
     <button id="view-profile">View Profile</button>
       <form id="textPost">
           Post:
           <br>
           <input type="text" name="text" id="post-content">
           <br>
           <input type="submit" value="Submit" id="submit-content">
       </form>
   </div>
   <div class="contentDiv">
       <p>Content Goes Here</p>
       <ul>
           {{#each content}}
           <li>
               <p>{{Content}}</p>
           </li>
           {{/each}}
       </ul>
   </div>

   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="/js/home.js"></script>