 <div class="container">
       <form id="textPost" action="/action_page.php">
           Post:
           <br>
           <input type="text" name="text">
           <br>
           <input type="submit" value="Submit">
       </form>
   </div>
   <div class="contentDiv">
       <p>Content Goes Here</p>
   </div>