 <div class="container">
     <h1>Welcome {{email}}</h1>
     <button id="view-profile">View Profile</button>
       <form id="textPost" action="/action_page.php">
           Post:
           <br>
           <input type="text" name="text">
           <br>
           <input type="submit" value="Submit">
       </form>
   </div>
   <div class="contentDiv">
       <p>Content Goes Here</p>
   </div>

   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="js/home.js"></script>