<style>
    .body {
        overflow-y: hidden;
    }
</style>

<nav class="nav-heading" id="global-nav">
    <img src="/images/codet_banner_3.png" alt="codet_banner" class="codet-banner">
</nav>

<div class="home-form">
    <h4 id="login-header">Login</h4>
    <div class="container login-form">
        <form action="#" class="form">
            <br>
            <i class="user icon site-icons"></i>
            <input class="email-input input-fields" type="text" name="email" id="email" placeholder="Email">

            <br>
            <br>
            <i class="lock icon site-icons"></i>
            <input class="password-input input-fields" type="password" name="password" placeholder="Password">
            <br>
            <br>
        </form>


        <div class="index-button-options">
            <button class="Sign-up buttons animated pulse">Sign Up</button>
            <button class="Login buttons animated pulse" id="Login">Login</button>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>