 <div class="container">
       <div class="profileName">
           <p>Profile Name</p>
       </div>
       <div class="profileImg">
               <p>Profile Image`</p>
           </div>
       <div class="profileBio">
           <p>Bio</p>
       </div>
       <div class="mediaLinks">
           <p>Social Media Links</p>
       </div>
   </div>